{% extends "core/skeleton.html" %}

{% block content %}

<div class="py-1">

<p>
V Evidenci kontaktů a schůzek <a href="https://pirati.cz">Pirátské strany</a>
naleznete záznamy kontaktů a schůzek našich představitelů, zastupitelů, zástupců
v různých veřejných funkcích, ale i členů. Zveřejňujeme kontakty a schůzky s představiteli
byznysu, ostatních politických stran, neziskových sdružení a jiných subjektů,
které chtějí zjistit od našich představitelů informace nebo ovlivnit jejich
rozhodování, ale také případy, kdy takové lidi kontaktujeme z různých důvodů my.
</p>
<p>
Podrobnou úpravu obsahuje <a href="https://wiki.pirati.cz/rules/prl">předpis o lobbingu</a>.
</p>
<p>
V listopadu 2018 jsme přešli na nový systém evidence. V předchozích letech byla
evidence vedena <a href="https://forum.pirati.cz/viewtopic.php?f=570&t=13315">ve
vyhrazené diskusi</a> na fóru Pirátské strany. Starší záznamy byly automatizovaně
zkopírovány a mohou trpět různými formálními nedostatky. Obsah sdělení ale zůstal
zachován.
</p>

</div>

{% endblock %}
