{% extends "core/skeleton.html" %}

{% block content %}

<div class="my-4">
  <div class="d-flex">
    <h5 class="mb-3 mr-3">Profil</h5>
    <div class="ml-auto"><a href="{% url 'logout' %}">odhlásit se</a></div>
  </div>
  <div class="border rounded bg-light py-2 px-0">
    <div class="d-flex">
      <div class="px-3 text-right" style="min-width: 14em"><small class="text-muted">jméno:</small></div>
      <div>{{ viewer.firstName }} {{ viewer.lastName }}</div>
    </div>
    <div class="d-flex">
      <div class="px-3 text-right" style="min-width: 14em"><small class="text-muted">email:</small></div>
      <div>{{ viewer.email }}</div>
    </div>
    {% if viewer.openidUid %}
      <div class="d-flex">
        <div class="px-3 text-right" style="min-width: 14em"><small class="text-muted">OpenID:</small></div>
        <div>{{ viewer.openidUid }}</div>
      </div>
    {% endif %}
    {% if viewer.extra.login %}
      <div class="d-flex pt-1">
        <div class="px-3 text-right" style="min-width: 14em"><small class="text-muted">profil na Pirátském fóru:</small></div>
        <div><a href="{{ viewer.extra.link }}">{{ viewer.extra.login }}</a></div>
      </div>
    {% endif %}
  </div>
  {% if viewer.isAuthor %}
    <div class="my-3"><a href="{% url 'author' id=viewer.id %}">moje reporty</a></div>
  {% endif %}
</div>

{% endblock %}

