{% extends "core/skeleton.html" %}

{% block content %}

{% if saved_message %}
  <div class="alert alert-success text-center mb-4" role="alert">Koncept kontaktu byl uložen.</div>
{% endif %}

<div class="mb-4">
  {% if report.isDraft %}
    <h5 class="mb-3">Úprava konceptu kontaktu</h5>
  {% else %}
  <h5 class="mb-3">Úprava <span class="text-danger">publikovaného</span> kontaktu</h5>
  {% endif %}
  <form class="form" action="{% url 'edit-report' id=report.id %}" method="post">
    {% csrf_token %}
    {{ form.id }}
    {% include "core/form_field_snippet.html" with field=form.date %}
    {% include "core/form_field_snippet.html" with field=form.title %}
    {% include "core/form_field_snippet.html" with field=form.body %}
    {% include "core/form_field_snippet.html" with field=form.received_benefit %}
    {% include "core/form_field_snippet.html" with field=form.provided_benefit %}
    {% include "core/form_field_snippet.html" with field=form.our_participants %}
    {% include "core/form_field_snippet.html" with field=form.other_participants %}
    <div class="form-group row">
      <div class="col-2"></div>
      <div class="col-10">
        <button type="submit" name="publish" class="btn btn-primary">publikovat</button>
        {% if report.isDraft %}
          <button type="submit" name="save_draft" class="btn btn-secondary ml-3">uložit koncept</button>
        {% endif%}
      </div>
    </div>
  </form>

  <div class="row">
    <div class="col-2"></div>
    <div class="col-10 mt-4 text-muted">
      <p>Zadávejte prostý text. HTML tagy nejsou povoleny a budou z textu odstraněny.</p>
      <p>Po jedné hodině od poslední úpravy publikovaného kontaktu vytvoří další úprava historickou revizi kontaktu.</p>
    </div>
  </div>
</div>

{% endblock %}
