{% extends "core/skeleton.html" %}

{% block content %}

{% if drafts %}
<div class="mb-4">
  <h5 class="mb-3">Koncepty schůzek</h5>
  <ul>
  {% for draft in drafts %}
  <li><a href="#">{{ draft.date|date:"DATE_FORMAT" }} - {{ draft.title }} - {{ draft.body|truncatewords:5 }}</a></li>
  {% endfor %}
  </ul>
</div>
{% endif %}

<div class="mb-4">
  <h5 class="mb-3">Nová schůzka</h5>
  <form class="form" action="{% url 'new-report' %}" method="post">
    {% csrf_token %}
    {% include "core/form_field_snippet.html" with field=form.date %}
    {% include "core/form_field_snippet.html" with field=form.title %}
    {% include "core/form_field_snippet.html" with field=form.body %}
    {% include "core/form_field_snippet.html" with field=form.received_benefit %}
    {% include "core/form_field_snippet.html" with field=form.provided_benefit %}
    {% include "core/form_field_snippet.html" with field=form.our_participants %}
    {% include "core/form_field_snippet.html" with field=form.other_participants %}
    <div class="form-group row">
      <div class="col-2"></div>
      <div class="col-10">
        <button type="submit" name="publish" class="btn btn-primary">publikovat</button>
        <button type="submit" name="save_draft" class="btn btn-secondary ml-3">uložit koncept</button>
      </div>
    </div>
  </form>

  <div class="row">
    <div class="col-2"></div>
    <div class="col-10 mt-4 text-muted">
      Zadávejte prostý text. HTML tagy nejsou povoleny a budou z textu odstraněny.
    </div>
  </div>
</div>

{% endblock %}
