<div class="row mb-4 mx-0">
  <div class="col-9 p-0 border rounded-left">

    <div class="d-flex justify-content-start py-1 border border-left-0 border-right-0 border-top-0 bg-light">
      <div class="pl-3 pr-2">{{ report.date|date:"DATE_FORMAT" }}</div>
      <div class="px-2"><b>
        {% if is_revision %}
          {{ report.title|safe }}
        {% else %}
          <a href="{% url 'report' id=report.id %}">{{ report.title|safe }}</a>
        {% endif %}
      </b></div>
    </div>

    <div class="d-flex">
      <div class="px-3 pt-2">
        {{ report.body|safe|linebreaks }}
      </div>
    </div>

    {% if report.receivedBenefit %}
      <div class="d-flex border border-left-0 border-right-0 border-bottom-0 bg-light">
        <div class="px-3 py-1 text-right" style="min-width: 11em"><small class="text-muted">přijaté výhody:</small></div>
        <div class="py-1">{{ report.receivedBenefit|safe }}</div>
      </div>
    {% endif %}

    {% if report.providedBenefit %}
      <div class="d-flex border border-left-0 border-right-0 border-bottom-0 bg-light">
        <div class="px-3 py-1 text-right" style="min-width: 11em"><small class="text-muted">poskytnuté výhody:</small></div>
        <div class="py-1">{{ report.providedBenefit|safe }}</div>
      </div>
    {% endif %}

    {% if report.ourParticipants %}
      <div class="d-flex border border-left-0 border-right-0 border-bottom-0 bg-light">
        <div class="px-3 py-1 text-right" style="min-width: 11em"><small class="text-muted">naši účastníci:</small></div>
        <div class="py-1">{{ report.ourParticipants|safe }}</div>
      </div>
    {% endif %}

    {% if report.otherParticipants %}
      <div class="d-flex border border-left-0 border-right-0 border-bottom-0 bg-light">
        <div class="px-3 py-1 text-right" style="min-width: 11em"><small class="text-muted">ostatní účastníci:</small></div>
        <div class="py-1">{{ report.otherParticipants|safe }}</div>
      </div>
    {% endif %}

  </div>
  <div class="col-3 pt-2 border border-left-0 rounded-right d-flex flex-column bg-light">

    <div>
      <a {% if report.author.id == viewer.id %}class="text-info"{% endif %} href="{% url 'author' id=report.author.id %}">{{ report.author.firstName }} {{ report.author.lastName }}</a>
      {% include "core/name_collision_snippet.html" with author=report.author %}
    </div>

    <div class="mt-auto py-1 small text-muted">
      {% if not is_revision and report.author.id == viewer.id %}
        <div class="mt-1"><a href="{% url 'edit-report' id=report.id %}">upravit</a></div>
      {% endif %}

      {% if report.edited != report.published %}
      <div class="mt-1">
          upraveno: {{ report.edited|date:"DATETIME_FORMAT" }}
          {% if not is_revision and report.hasRevisions %}
          <a class="ml-2" href="{% url 'report-history' id=report.id %}">historie úprav</a>
          {% endif %}
      </div>
      {% endif %}

      <div class="mt-1">
          publikováno: {{ report.published|date:"DATETIME_FORMAT" }}
          {% if not is_revision %}
          <a class="ml-2" href="{% url 'report' id=report.id %}">permalink</a>
          {% endif %}
      </div>

      {% if report.extra.link %}
      <div class="mt-1">report zkopírován z <a href="{{ report.extra.link }}">Pirátského fóra</a></div>
      {% endif %}
    </div>

  </div>
</div>
