<!doctype html>
<html lang="en">
  <head>
    <title>Registr lobbistických schůzek (beta)</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  </head>
  <body style="font-size: 90%">

    <nav class="navbar navbar-dark bg-dark">
      <div class="container px-2">
        <a class="navbar-brand" href="/">Registr lobbistických schůzek <sup class="text-muted">beta</sup></a>

        <form class="form-inline justify-content-center" action="{% url 'index' %}" method="get">
          <input class="form-control form-control-sm" type="search" name="q" id="id_q" value="{{ form.q.value|default_if_none:"" }}">
          <button class="btn btn-sm mx-2" type="submit">hledej</button>
        </form>

        <ul class="navbar-nav">
          <li class="nav-item">
            {#<a class="nav-link" href="#">přihlášení</a>#}
            <span class="text-secondary">přihlášení</span>
          </li>
        </ul>

      </div>
    </nav>

    <div class="container">
      {% block content %}{% endblock %}
    </div>

    <div class="container-fluid pt-3 pb-2 border border-left-0 border-right-0 border-bottom-0 bg-light">
      <p class="text-muted text-center"><small>
        Toto je veřejný beta test systému Open Lobby pro Českou pirátskou stranu. Cokoliv se může změnit.<br>
        Podněty a připomínky piště <a href="https://forum.pirati.cz/administrativa-f498/plnohodnotna-evidence-lobbistickych-kontaktu-t37613.html">na pirátském fóru</a>. Kontakt: <a href="mailto:jan.bednarik@gmail.com">jan.bednarik@gmail.com</a>
      </small></p>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>
