<div class="dropdown mr-auto">
  <a class="btn btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    řazení: {% for so in sort_options %}{% if so.active %}{{ so.title }}{% endif %}{% endfor %}
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  {% for so in sort_options %}
    <a class="dropdown-item{% if so.active %} active{% endif %}" href="{{ so.url }}">{{ so.title }}</a>
  {% endfor %}
  </div>
</div>
